{% extends "nationalityclean/base.html" %}
{% block body_block %}

<div class="container" >
    <h2 class="text-center" > Proceed to  correct the nationality of Job Seekers. </h2>
</div>
    <div class="form-group">
   <label class="col-md-4 control-label" for="singlebutton"></label>
   <div class="col-md-4 center-block">
       <form method="GET" action="{% url 'nationality_clean:index' %}">
          <button  class="btn btn-primary center-block btn-lg">
              Clean Nationality
           </button>
       </form>
   </div>
</div>

{% endblock %}

