{% extends "nationalityclean/base.html" %}
{% block body_block %}
    <table>
        <thead>
            <th scope="col">#</th>
            <th scope="col">Job Seeker Nationality</th>
            <th scope="col"> Best Matched Nationality</th>
            <th scope="col"> Best Score</th>
            <th scope="col"> Correct</th>
        </thead>

        <tbody>
        {% for nationality in all_nationality %}
            <tr>
                <form action="{% url 'nationality_clean:data_post' nationality.pk %}" method="post">
                    {% csrf_token %}
                    <td> {{ forloop.counter|add:offset }}</td>
                    <input hidden id="nationality_pk_id" class="nationality_pk_cls" name="id" value="{{ nationality.pk }}">
                    <input hidden name="best_score" id="best_score" class="best_score" value="{{ nationality.score }}">
                    <input hidden id="verified_nationality_{{ nationality.pk }}" class="verified_nationality"
                           value="{{ nationality.verified_nationality|capfirst }}">
                    <td>{{ nationality.unverified_nationality }}</td>
                    {% if nationality.score == 1 %}
                       <td> {{ nationality.verified_nationality }}</td>
                        <td>{{ nationality.score }}</td>
                    {% else %}

                        <td><select id="{{ nationality.pk }}" class="select_nationality_class" name="select_nationality">
                            {% for correct_nationality in df_nationality %}
                                <option {% ifequal correct_nationality|lower nationality.verified_nationality %}
                                         selected
                                        {% endifequal %}
                                        value="{{ correct_nationality }}">
                                        {{ correct_nationality }}
                                </option>
                            {% endfor %}
                            </select>
                        </td>
                        <td>{{ nationality.score }}</td>
                        <td>
                            <button name="post_all" value="post_all_data" type="submit"
                                class="btn btn-default btn-md btn-l" >
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Post
                            </button>
                        </td>
                    {% endif %}
                </form>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav aria-label="...">
        <ul class="pull-right">
            <label>Score Greater Than = </label>
            <span>
                    <select id="input_score" name="input_score" class="btn-space">
                        <option value="1">1</option>
                        <option value="0.99">0.99</option>
                        <option value="0.98">0.98</option>
                        <option value="0.97">0.97</option>
                        <option value="0.96">0.96</option>
                        <option value="0.95">0.95</option>
                    </select>
                <button id="post_all" type="submit" name="post_all" value="post_all_data"
                        data-ajax-target="{% url 'nationality_clean:all_data_post' %}"
                        class="btn btn-primary btn-lg pull-right mt-auto">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Post ALL
                </button>
            </span>
        </ul>
    </nav>
{% include 'nationalityclean/paginator.html' %}
{% endblock %}
