{% extends "NationalityCleaner/base.html" %}
{% block body_block %}
{% csrf_token %}
<table>


<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Job Seeker Nationality</th>
      <th scope="col"> Best Matched Nationality </th>
      <th scope="col"> Best Score </th>
      <th scope="col"> Correct</th>
  </thead>

    <tbody>

        {% for nationality in all_nationality %}
            <tr>

            <form action="{% url 'NationalityClean:data_post' nationality.pk %}" method="post" >
            {% csrf_token %}
           <td> {{ forloop.counter }}</td>
{#            {% for each_nationality in individual_nationality_values %}#}
                <input hidden name="unverified_nationality" value="{{ nationality.unverified_nationality }}">
                <input hidden name="best_score" value="{{ nationality.score }}">
                <input hidden name="verified_nationality" value="{{ nationality.verified_nationality|capfirst }}">
                <td>{{ nationality.unverified_nationality }}</td>
                 <td>{% if nationality.score == 1%}


                 {{ nationality.verified_nationality|capfirst }}
                     <td>{{ nationality.score }}</td>


                    {% else %}

                    <select id="na">{% for correct_nationality in df_nationality %}
                     <option {% ifequal correct_nationality|lower nationality.verified_nationality %} selected {% endifequal %} value="{{ correct_nationality }}">{{ correct_nationality }}</option>{% endfor %}</select></td>
                     <td>{{ nationality.score }}</td>
                    <td><button name="post_all" value="post_all_data"type="submit" class="btn btn-default btn-md btn-l">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Post
                        </button>
                        {% endif %}
                    </td>


            </form>
            </tr>
            {% endfor %}

  </tbody>



</table>

{% include 'NationalityCleaner/paginator.html' %}
    {% if not page_obj.has_next%}
     <form action="{% url 'NationalityClean:all_data_post' %}" method="post">
{%csrf_token %}
<nav aria-label="...">
    <ul>
        <span>
            <select name="input_score" class="pull-right">
  <option value="1">1</option>
  <option value="0.99">0.99</option>
  <option value="0.98">0.98</option>
  <option value="0.97">0.97</option>
  <option value="0.96">0.96</option>
  <option value="0.95">0.95</option>
</select>
<button  type="submit" name="post_all" value="post_all_data" class="btn btn-primary btn-lg pull-right mt-auto">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Post ALL
                        </button></td>
            </span>
        </ul>
</nav>
</form>
{% endif %}
{% endblock %}
