{% extends "NationalityCleaner/base.html" %}
{% block body_block %}



<table>
        <td>
            <table>
                <thead>
                    <tr>
                        <td>Job Seeker Nationality</td>
                    </tr>
                </thead>
                <tbody>
                    {% for P in Old_nationality %}
                        <tr>
                            <td> {{ P }}</td>
                         </tr>

                    {% endfor %}
                </tbody>
            </table>
        </td>
        <td>

            <table>
                <thead>
                    <tr>
                        <td>Probable Match</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td>
            <table>
                    <thead>
                        <tr>
                            <td>Match Score</td>
                        </tr>
                    </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </td>
    <td>
        <table>
                <thead>
                    <tr>
                        <td>Correct Nationality</td>
                    </tr>
                </thead>
            <tbody>

                <tr>
                    <td>{% for D in nationality %}<select id="na"><option value="{{ D }}">{{ D }}</option></select> {% endfor %}</td>
                </tr>

            </tbody>
        </table>
    </td>


</table>

    <table class="table">
  <caption>List of users</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Job Seeker Nationality</th>
      <th scope="col">Probable Match</th>
      <th scope="col">Match Score</th>
      <th scope="col">Correct Nationality</th>
    </tr>
  </thead>
  <tbody>
    <tr>

        {% for P in all_nationality %}
           <td> {{ forloop.counter }}</td>
            {% for i in P %}
                <td>{{ i }}</td>
            {% endfor %}

             <td>@mdo</td>
            {% endfor %}
    </tr>
  </tbody>
</table>
{% endblock %}