{% extends "NationalityCleaner/base.html" %}
{% block body_block %}



<table>

  <tbody>
<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Job Seeker Nationality</th>
      <th scope="col"> Best Score </th>
      <th scope="col"> Probable Nationality</th>
        <th scope="col"> Select Nationality</th>
    </tr>
  </thead>

        {% for individual_nationality_values in all_nationality %}
            <tr>
           <td> {{ forloop.counter }}</td>
            {% for each_nationality in individual_nationality_values %}
                <td>{{ each_nationality }}</td>
            {% endfor %}
{#            <td>@meoo</td>#}

             <td><select id="na">{% for D in nationality %}

                 <option {% ifequal D|lower individual_nationality_values.2 %} selected {% endifequal %} value="{{ D }}">{{ D }}</option>{% endfor %}</select></td>

            </tr>
            {% endfor %}

  </tbody>
</table>
{% endblock %}